.form-header {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: #555;
}

/* Media Query for Phones*/
@media only screen and (max-width: 768px) {
  .image {
    display: none;
  }

  .container {
    padding-top: 10%;
  }

}

/* Media query for Computers */
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top: 3%;
    margin-left: 10%;
  }

  .form-box {
    border: 1px solid #ddd;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-box h2 {
    text-align: center;
    margin-bottom: 20px;/ color: #555;
  }

  .form-box label {
    color: #555;
  }

  .form-box input[type="text"],
  .form-box input[type="date"],
  .form-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-box select {
    appearance: none;
  }

  .form-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .form-box button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .form-box .form-check {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}