#description-input::placeholder {
  color: #555;
}

h3 {
  padding-bottom: 1.5%;
}

.form-box label {
  color: #555;
}

select#dropdown-category.form-select {
  color: #555;
}

select#dropdown-name.form-select {
  color: #555;
}

input#description-input.form-control {
  color: #555;
}

input#deadline.form-control {
  color: #555;
}

select#dropdown-priority.form-select {
  color: #555;
}



/* Media Query for Phones*/
@media only screen and (max-width: 768px) {
  img {
    display: none;
  }

  .container {
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

/* Media query for Computers */
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }

  .form-box {
    border: 1px solid #ddd;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #555;
  }

  .form-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
}