/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background-color: #f9f9f9;
  } */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Adjust background color */
}

.form-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    background-color: #f9f9f9;
    margin: 0 auto; /* Center horizontally */
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-box label {
    color: #555;
}

.form-box input[type="text"],
.form-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
} 

.form-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background-color: #0056b3;
}  
